Click<7.0
colorama
dask
distributed
pandas
tabulate
pypachy
Flask
boto3
flask_restful
goodtables
ckanapi
geojson_utils
geopandas
requests
shapely
python-Levenshtein
fuzzywuzzy
asynctest
geotext
dateparser
git+https://github.com/flaxandteal/berlin.git@3885dafb00e7a82a7fe0b9679ab333a825065b37
git+https://gitlab.com/datatimes/doorstep.git@15c99b6
