Click<7.0
colorama
dask
distributed
pandas
tabulate
pypachy
Flask
boto3
flask_restful
goodtables
ckanapi
geojson_utils
geopandas
requests
shapely
fuzzywuzzy
asynctest
geotext
git+https://gitlab.com/datatimes/doorstep.git@ba1ab74d25cb255ed037a4e71e0c994bf42f114d
