Click<7.0
colorama
dask
distributed
pandas
tabulate
pypachy
Flask
boto3
flask_restful
goodtables
ckanapi
geojson_utils
geopandas
requests
shapely
fuzzywuzzy
asynctest
geotext
git+https://gitlab.com/datatimes/doorstep/
